:root {
  --light-gray: #F0F0F7;
  --white: #FFFFFF;
  --dark-gray: #43425D;
  --shadow-gray: #00000029;
  --light-purple: #A5A4BF;
  --semi-transparent-gray: #43425D80;
  --medium-gray: #D6D6D6;
  --purple: #6A6996;
  --red: #FF5F5F;
}

.App {
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: var(--dark-gray); /* Використання змінної кольору */
  color: var(--white); /* Використання змінної кольору */
  padding: 10px;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar .toggle-btn {
  background-color: var(--semi-transparent-gray);
  color: var(--white);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
}

.sidebar .menu li {
  margin: 15px 0;
}

.sidebar .menu li a {
  color: var(--white);
  text-decoration: none;
}

.sidebar .menu li a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.sidebar-closed {
  margin-left: 0;
}

.calendar-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 4px 10px var(--shadow-gray);
}

.calendar-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--dark-gray);
}

.calendar-page .calendar-container {
  border-radius: 12px;
  box-shadow: 0px 4px 8px var(--shadow-gray);
  overflow: hidden;
  background-color: var(--white);
  padding: 20px;
}
