:root {
  --light-gray: #F0F0F7;
  --white: #FFFFFF;
  --dark-gray: #43425D;
  --shadow-gray: #00000029;
  --light-purple: #A5A4BF;
  --semi-transparent-gray: #43425D80;
  --medium-gray: #D6D6D6;
  --purple: #6A6996;
  --red: #FF5F5F;
}

html, body {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    height: 100vh; /* Full viewport height */
}

.sidebar {
    width: 300px;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 10px;
    transition: width 0.3s ease;
}

.sidebar .toggle-btn {
    background-color: var(--semi-transparent-gray);
    color: var(--white);
    padding: 10px;
    border: none;
    cursor: pointer;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu li a {
    color: var(--white);
    text-decoration: none;
}

.sidebar .menu li a:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure full height */
}

.header {
    background-color: var(--light-gray);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    padding: 30px 50px 0 50px;
    background-color: var(--light-gray);
    box-shadow: 0px 4px 10px var(--shadow-gray);
    flex-grow: 1; /* Allow it to grow */
    overflow: auto; /* Handle overflow */
}
